# Godot 4+ specific ignores
.godot/

# Godot export specific ignores
/export/*/*
!/export/*/.gitkeep

# GUT specific ignores
/tests/report.xml

# C++ specific ignores
/.cache
/bin
/build
/compile_commands.json

